/* Estilos para a caixa */
#caixa {
    width: 200px;
    height: 100px;
    background-color: coral;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

/* Efeito de hover para a caixa */
#caixa:hover {
    transform: scale(1.2);
}